/*------------------------------------*\
    GENERAL
\*------------------------------------*/

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    min-width: 350px;
    min-height: 200px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #222;
    font-family: 'Product Sans', 'Open Sans';
    color: #222;
    line-height: 1.5;
}

a {
    color: #222;
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover,
a:active,
a:visited {
    color: #222;
    text-decoration: unset;
    outline: none;
}

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    height: auto;
    object-fit: contain;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

ul {
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
    COMMON
\*------------------------------------*/

.wrapper {
    overflow: hidden;
    background-color: #fff;
}

.italic {
    font-style: italic;
}

span.b {
    font-weight: bold;
}

.horizontal-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flickity-prev-next-button {
    background: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.inclinedSction {
    -webkit-clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
    clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
    margin-top: -50px;
}


/* notify-js */

.notifyjs-sale-style-base {
    background: #F5F5F5;
    padding: 20px 22px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 16px -9px rgba(0, 0, 0, .5);
}

.notifyjs-sale-style-base .icon-cart-plus {
    color: green;
    font-size: 35px;
    margin-top: -4px;
    margin-left: -6px;
    margin-right: 8px;
    margin-bottom: -5px;
    display: inline-block;
    float: left;
}


/*------------------------------------*\
    TITLES
\*------------------------------------*/

.innerTitle {
    font-size: 32px;
    line-height: 40px;
    color: #222;
    text-align: left;
    padding-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0e4562;
}


/*------------------------------------*\
    GRADIENTS
\*------------------------------------*/

.grayMesh {
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
    background-blend-mode: normal, multiply;
}

.blackMesh {
    background-color: #222;
    background-image: radial-gradient(circle, #2c2c2c 0%, black 100%);
}

.blackMesh_light {
    background-color: #222;
    background-image: radial-gradient(circle, #222 0%, #222222c2 100%);
}

.blueMesh {
    background: #01bbd4;
    background: radial-gradient(circle, #01bbd4, #01bbd4e8);
}

.grayMesh_light {
    background-color: #ebedee;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.grayMesh_UltraLight {
    background-color: #eef1f5;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.purpleMesh {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2f0743f0, #41295af7);
    background: linear-gradient(to right, #2f0743f0, #41295af7);
}

.redMesh {
    background: #ee1d24;
    background: radial-gradient(circle, #ff6f5e, #ee1d24);
}

.redMeshAlpha {
    background: #ff3030;
    background: radial-gradient(circle, #ff3030, #ee1d24);
}

.lightBlueTexture {
    background: rgb(140, 222, 218);
    background: -moz-linear-gradient(top, rgb(124, 181, 179) 0%, rgb(69, 140, 136) 100%);
    background: -webkit-linear-gradient(top, rgb(124, 181, 179) 0%, rgb(69, 140, 136) 100%);
    background: linear-gradient(to bottom, rgb(124, 181, 179) 0%, rgb(69, 140, 136) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8cdeda', endColorstr='#50c9c3', GradientType=0);
}

.gold-text {
    color: #c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url('../img/Gold_background2.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.samsBlueMesh {
    background: rgb(17, 118, 196);
    background: -moz-radial-gradient(circle, rgba(17, 118, 196, 1) 0%, rgba(16, 92, 180, 1) 51%, rgba(33, 67, 163, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(17, 118, 196, 1) 0%, rgba(16, 92, 180, 1) 51%, rgba(33, 67, 163, 1) 100%);
    background: radial-gradient(circle, rgba(17, 118, 196, 1) 0%, rgba(16, 92, 180, 1) 51%, rgba(33, 67, 163, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1176c4", endColorstr="#2143a3", GradientType=1);
}

.mellowGradient {
    background-color: #00364b;
    background-image: radial-gradient(circle, #555555 0%, #002a3a 120%);
}

.lateralImageGray {
    background-image: url('../img/light_gray.jpg');
    background-size: 100%;
    background-position: center;
}

.waterGreenMesh {
    background: #203a43;
    background: radial-gradient(circle, #335d70, #204c5b, #0a3e53);
}


/*------------------------------------*\
    ANIMATION
\*------------------------------------*/

.pulse {
    -webkit-animation: pulse 1s linear infinite;
    -moz-animation: pulse 1s linear infinite;
    -ms-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
}

.lxdx {
    animation: nudge 3s linear infinite;
}

.float {
    animation: float 3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes nudge {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(120px, 0);
    }
    100% {
        transform: translate(-120px, 0);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.mybutton_round {
    border-radius: 46px;
    border: none;
    color: #222;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
    padding-left: 28px;
    padding-right: 28px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .4);
    background: #fff;
}

.mybutton_round:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #828282;
    text-decoration: none;
    color: #fff;
}

.cornerButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: auto;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    padding: 0 20px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
    position: relative;
    font-family: "Open sans";
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.cornerButton::after {
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
    background: #fff;
}

.cornerButton:hover {
    color: #e1206f;
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;
}

.cornerButton a:hover {
    color: #222;
}

.navMenu_button {
    border-radius: 46px;
    border: none;
    text-align: center;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .1);
    background: #fff;
    color: #373737 !important;
    margin-bottom: 0;
}

.navMenu_button:hover {
    opacity: 0.7;
}


/*------------------------------------*\
    countdown
\*------------------------------------*/

.countdown {
    text-align: center;
    color: #222;
}

.countdown .time {
    width: 250px;
    font-size: 17px;
}

.countdown .time>div {
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.countdown .time ul {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.countdown .time ul li {
    line-height: 1;
    font-size: 48px;
    text-align: center;
    margin: 0 13px;
    list-style-type: none;
    position: relative;
}

.countdown .time ul li .podp {
    display: block;
    position: relative;
    font-size: 17px;
    margin-top: 3px;
}


/*--------------------------------------------------------*\
    countdown-text (ORDER)
\*--------------------------------------------------------*/

#countdown .container {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: center;
}

#countdown .container .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#countdown .container .content .text {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    border-left: 5px solid #fff;
    max-width: 400px;
}

#countdown .container .content .countdown {
    margin: 0 25px 50px 0;
    float: left;
    color: #fff;
}

#countdown .container .content .countdown .time {
    margin: auto;
}


/*------------------------------------*\
    navMenu
\*------------------------------------*/

#navMenu {
    background-color: transparent;
    height: fit-content;
    z-index: 99;
    width: 100%;
    color: #373737;
    background-color: #4a1448;
}

#navMenu.open {
    background-color: #9b9b9bb3;
}

#navMenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170%;
    opacity: .6;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(transparent));
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent);
    z-index: 0;
    -webkit-transition: opacity .3s var(--easeOutCubic);
    transition: opacity .3s var(--easeOutCubic);
}

#navMenu>.content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 88%;
}

#navMenu>.content,
#navMenu .logo {
    height: 100%;
    position: relative;
}

#navMenu .logo {
    padding-left: 9px;
}

#navMenu .logo img {
    max-height: 40px;
    height: 100%;
    margin-right: 35px;
}

#navMenu .mobile-menu {
    display: none;
    position: absolute;
    left: 270px;
    top: -15px;
}

#navMenu .mobile-menu.hamburger {
    padding: 23px;
}

#navMenu ul.menu {
    list-style: none;
}

#navMenu ul.menu li {
    float: left;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
}

#navMenu ul.menu li a {
    letter-spacing: 1px;
    color: #fff;
    z-index: 999999;
    transition: all 0.5s;
}

#navMenu ul.menu li a:hover {
    opacity: 0.7;
}

#navMenu ul li .hide.button {
    display: none;
}

#navMenu ul.menu li a.navMenu_button {}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #fff !important;
}


/*------------------------------------*\
    header
\*------------------------------------*/

#header {
    margin: 0;
    /*background: url('../images/shape-alt.png') 180px 0px no-repeat, linear-gradient(to right top, #f4f2fc 50%, #e2dfff 75%, #fff 100%);*/
    background-image: url("../img/header_bg.jpg");
    background-size: cover;
    position: relative;
}

.upperFixedImg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

#header>.content {
    width: 100%;
    max-width: 1200px;
}

#header .logo {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 29px;
    line-height: 40px;
    text-align: left;
    font-weight: 500;
    margin-left: 10px;
    color: #0e4562;
}

#header .logo .subtitle {
    font-size: 24px;
    margin: 5px 0 20px 0;
    line-height: 40px;
    font-weight: 500;
}

#header .logo .subtitle span {
    color: #0e4562;
}

#header .logo img {
    max-width: 400px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: -5px;
}

#header .price {
    padding-bottom: 15px;
}

#header .price>span {
    padding-left: 10px;
    padding-right: 10px;
}

#header .price .quantity {
    font-size: 34px;
    font-weight: normal;
}

#header .price .quantity b {
    margin-left: 8px;
    margin-right: 8px;
    color: #0e4562;
}

#header .price .old {
    font-size: 38px;
    font-weight: 500;
    text-decoration: line-through;
    color: #747474;
}

#header .price .new {
    font-size: 54px;
    font-weight: bold;
    color: #db0000;
}

#header .price .discount img {
    max-width: 110px;
}

#header .object {
    position: relative;
    height: 100%;
}

#header .object img {
    max-height: 850px;
}

#header .logo-column {
    z-index: 2;
    height: fit-content;
}

#header .logo-column>* {
    max-width: 500px;
}

#header .logo-column .specs {
    font-size: 17px;
    line-height: 21px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Open Sans";
}

#header .logo-column .specs .spec {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}

#header .logo-column .specs .spec span {
    color: #0e4562;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #db0000;
    display: block;
}

#header .logo-column .specs .text {
    width: calc(100% - 140px);
}

#header .logo-column .specs img {
    padding-right: 15px;
    width: 140px;
    border-radius: 50%;
    box-shadow: 0px 29px 24px -25px rgba(0, 0, 0, .2);
}

#header .logo-column .image img {
    max-width: 350px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#header .countdown_button .content {
    max-width: 700px;
}

#header .countdown_button .countdown,
#header .countdown_button .btn {
    margin-top: 30px;
    margin-bottom: 35px;
    min-width: 300px;
    font-family: "Open Sans";
    font-weight: 600;
}


/*--------------------------------------------------------*\
    only-text-banner
\*--------------------------------------------------------*/

#only-text-banner {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #c5859a;
}

#only-text-banner .row1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 46px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 0px #292929;
}

#only-text-banner .row1 img {
    max-height: 50px;
    margin-bottom: -3px;
    margin-left: 3px;
    margin-right: 3px;
}

#only-text-banner .countdown_button .content {
    max-width: 730px;
    padding-top: 40px;
    color: #fff;
}

#only-text-banner .countdown_button .content .countdown {
    color: #fff;
}


/*--------------------------------------------------------*\
    grid-image-banner
\*--------------------------------------------------------*/

#grid-image-banner {
    position: relative;
    background-color: #e5e5e5;
    padding-top: 50px;
    padding-bottom: 50px;
}

#grid-image-banner>.content {
    max-width: 900px;
    margin: auto;
}

#grid-image-banner .title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
    position: relative;
    margin-bottom: 60px;
}

#grid-image-banner .title::before {
    position: absolute;
    content: '';
    left: -66px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 45px;
    background: #fff;
}

#grid-image-banner .title::after {
    position: absolute;
    content: '';
    right: -66px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 45px;
    background: #fff;
}

#grid-image-banner .image {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
}

#grid-image-banner .image img {
    max-width: 240px;
    width: 100%;
    margin: auto;
}

#grid-image-banner .image span {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    color: #fff;
    width: 100%;
    text-align: center;
}


/*------------------------------------*\
    advise-banner
\*------------------------------------*/

#advise-banner {
    background-color: #d8d8d8;
}

#advise-banner>.content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px;
    margin: auto;
}

#advise-banner .sx {
    text-align: left;
    padding-left: 40px;
    height: fit-content;
    padding-top: 70px;
}

#advise-banner .sx>* {
    padding-bottom: 15px;
}

#advise-banner .bottom .text {
    font-size: 21px;
    margin-bottom: 15px;
    color: #0e4562;
}

#advise-banner .sx .surtitle {
    font-size: 23px;
}

#advise-banner .sx .title {
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    line-height: 40px;
    color: #0e4562;
}

#advise-banner .sx>.subtitle {
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 30px;
    text-align: justify;
}

#advise-banner .dx img {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto auto 0;
}

#advise-banner .bottom .images .image {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
    width: 33%;
}

#advise-banner .bottom .images .image img {
    max-width: 150px;
    width: 100%;
    margin: auto;
}

#advise-banner .bottom .images .image span {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    color: #fff;
    width: 100%;
    text-align: center;
}


/*--------------------------------------------------------*\
    box-banner
\*--------------------------------------------------------*/

#box-banner {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4a1448;
}

#box-banner .content {
    padding: 0;
    max-width: 1300px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

#box-banner .flickity-prev-next-button .flickity-button-icon {
    display: none;
}

#box-banner .image,
#box-banner .description {
    max-width: 500px;
    margin: auto;
}

#box-banner .innerTitle {
    padding-bottom: 8px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 36px;
    color: #fff;
}

#box-banner .subtitle {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    margin-bottom: 35px;
    color: #fff;
}

#box-banner ul {
    width: 100%;
}

#box-banner ul li {
    display: inline-block;
    width: 33.3%;
    padding-left: 5px;
    padding-right: 5px;
}

#box-banner ul li .content {
    max-width: 500px;
    margin: auto;
}

#box-banner li .image img {
    border-radius: 10px;
}

#box-banner li .description {
    text-align: left;
    margin-top: 15px;
}

#box-banner li .description .title {
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 50px;
}

#box-banner li .description .title i {
    color: #fff;
    margin-right: 1px;
    font-size: 36px;
}

#box-banner li .description .title i.icon-mail-alt {
    margin-right: 5px;
}

#box-banner li .description .title span {
    font-weight: 300;
    font-size: 36px;
    margin-right: 15px;
}

#box-banner li .description .title>div {
    float: left;
}

#box-banner li .description .text {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100px;
    font-family: "Open Sans";
}

#box-banner li .description .cornerButton {
    background-color: #FFA500;
    margin-top: 20px;
}

#box-banner li .description .cornerButton:hover {
    color: #fff;
}


/*--------------------------------------------------------*\
    text-image-banner-2
\*--------------------------------------------------------*/

#text-image-banner-2 {
    padding-top: 70px;
    padding-bottom: 30px;
    min-height: 100px;
    margin-top: -3px;
    background-color: #fff;
}

#text-image-banner-2 .innerTitle {
    font-weight: bolder;
    font-size: 34px;
}

#text-image-banner-2 .text {
    font-size: 17px;
    text-align: justify;
    float: right;
    margin-top: -20px;
    padding: 0 0 30px 0;
    max-width: 400px;
    font-weight: 500;
    width: 40%;
    font-family: "Open sans";
}

#text-image-banner-2 .image {
    max-width: 700px;
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
}

#text-image-banner-2.app-banner .image img {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#text-image-banner-2 .os-images {
    margin-top: 25px;
}

#text-image-banner-2 .os-images img.icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    max-height: 60px;
}


/*--------------------------------------------------------*\
    text-image-banner-4
\*--------------------------------------------------------*/

#text-image-banner-4 {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #fff;
}

#text-image-banner-4 .container>* {
    width: 100%;
}

#text-image-banner-4 .innerTitle {
    color: #ffba4f;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0;
    padding-bottom: 25px;
}

#text-image-banner-4 .text {
    font-size: 18px;
    text-align: justify;
    font-family: "Open Sans";
    padding-bottom: 45px;
}

#text-image-banner-4 .video iframe {
    max-height: 800px;
    min-height: 600px;
    box-shadow: 0px 0px 10px #a2a1a1e0;
    -webkit-box-shadow: 0px 0px 10px #a2a1a1e0;
    -moz-box-shadow: 0px 0px 10px #a2a1a1e0;
    -o-box-shadow: 0px 0px 10px #a2a1a1e0;
    background-color: #000;
    width: 100%;
    margin-bottom: 60px;
}

#text-image-banner-4 .PROMO .text {
    font-size: 17px;
    text-align: justify;
    float: right;
    padding: 0 0 30px 0;
    max-width: 400px;
    font-weight: 500;
    width: 40%;
    font-family: "Open sans";
}

#text-image-banner-4 .PROMO .image {
    max-width: 700px;
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -30px;
}


/*--------------------------------------------------------*\
    sovraSlider
\*--------------------------------------------------------*/

.sovraSlider_section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
    background-image: url('../img/h6-bckr-1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.sovraSlider_section>#slider .container {
    max-width: 85%;
}

.sovraSlider_section .carousel-cell img {
    width: 100%;
}

.sovraSlider_section #slider {
    margin-top: 90px;
}

.sovraSlider_section #slider:first-child {
    margin-top: 0;
}

.sovraSlider_section #slider .text>* {
    color: #222;
}

.sovraSlider_section #slider .text .innerTitle {
    color: #0e4562;
    text-shadow: none;
    font-size: 35px;
    margin-bottom: 0;
}

.sovraSlider_section #slider .text .innerTitle::after {
    display: none;
    padding-bottom: 20px;
}

.sovraSlider_section #slider .text {
    padding: 50px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .05);
    margin-right: -70px;
    z-index: 99;
    background-color: #f7f7f7;
}

.sovraSlider_section #slider .text:nth-child(2n) {
    margin-right: 0;
    margin-left: -70px;
}

.sovraSlider_section #slider .text .description {
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}

.sovraSlider_section #slider .text .description p {
    margin-bottom: 0;
}

.sovraSlider_section .icon {
    margin-right: 1px;
    margin-left: -15px;
}

.sovraSlider_section .icon.icon-bed {
    margin-right: 10px;
}

.sovraSlider_section .icon.icon-search {
    margin-right: 0px;
}


/*--------------------------------------------------------*\
    slider
\*--------------------------------------------------------*/

#slider .content {
    margin: auto;
}

#slider .content>* {
    padding: 0;
}

#slider .carousel-cell {
    width: 100%;
}

#slider .carousel-cell img {
    width: 100%;
}

#slider .text .innerTitle {
    font-family: 'Product Sans';
    margin-left: -5px;
    line-height: 36px;
    font-size: 35px;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: none;
}

#slider .text .innerTitle i {
    margin-right: 5px;
}

#slider .text ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

#slider .text .title {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 0px 0px 10px rgb(255 255 255);
}

#slider .text>* {
    max-width: 600px;
    font-family: "Open Sans";
}

#slider .cornerButton {
    background-color: #FFA500;
}

#slider .cornerButton:hover {
    color: #222;
}


/*--------------------------------------------------------*\
    big-g
\*--------------------------------------------------------*/

#big-g {
    padding-top: 50px;
    background-image: url('../img/light_gray.jpg');
    background-size: 100%;
    background-position: center;
}

#big-g .content {
    max-width: 1600px;
    margin: auto;
}

#big-g .main-title {
    padding-bottom: 10px;
}

#big-g h2 {
    font-weight: bold;
    color: #0e4562;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#big-g .left-text p {
    margin-left: auto;
    margin-right: 0;
}

#big-g .feature-item {
    position: relative;
    margin-top: 10px;
}

#big-g .feature-item:last-child {
    margin-top: 120px;
}

#big-g .feature-item i {
    color: #0e4562;
    margin-right: 5px;
}

#big-g .feature-item h2 {
    font-size: 1.6em;
    color: #3a2939;
    margin-bottom: 14px;
}

#big-g .feature-item h2 img {
    margin-right: 18px;
    max-width: 65px;
}

#big-g .feature-s2 .feature-item {
    margin-top: 70px;
}

#big-g .feature-s2 .feature-item:first-child {
    margin-top: 0px;
}

#big-g .feature-s2 .feature-item-d {
    margin-top: 30px;
}

#big-g .feature-s2 .feature-img {
    margin-top: 40px;
}

#big-g .feature-s2 .feature-img img {
    max-height: 800px;
    padding: 0 25px 0 25px;
}

#big-g .feature p {
    font-size: 17px;
    font-family: "Open Sans";
    max-width: 350px;
}

#big-g .carousel-cell {
    width: 100%;
}


/*--------------------------------------------------------*\
    opinions
\*--------------------------------------------------------*/

#opinions {
    padding-top: 80px;
    padding-bottom: 30px;
}

#opinions h2 {
    font-weight: bold;
    color: #FFA500;
    font-family: 'Poppins';
    ;
}

#opinions .title i {
    color: #3B5998;
}

#opinions .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    ;
}

#opinions .box {
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    border-radius: 10px;
    margin: 0;
}

#opinions .box .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#opinions .box .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}

#opinions .box .description {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

#opinions .opinions-carousel {
    position: relative;
}

#opinions .opinions-carousel::before,
#opinions .opinions-carousel::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
}

#opinions .opinions-carousel::before {
    background-image: linear-gradient(to left, #fff0, rgb(255 255 255));
    left: 0;
}

#opinions .opinions-carousel::after {
    background-image: linear-gradient(to right, #fff0, rgb(255 255 255));
    right: 0;
}

#opinions .carousel-cell {
    width: 50%;
    padding: 25px;
}

#opinions .rating {
    margin-top: 15px;
}

#opinions .rating .icon {
    color: red;
}


/*--------------------------------------------------------*\
    secureShopping
\*--------------------------------------------------------*/

#secureShopping {
    padding-top: 60px;
    padding-bottom: 50px;
}

#secureShopping .content {
    text-align: left;
    margin: auto;
}

#secureShopping .title,
#secureShopping .subtitle {
    text-align: center;
    color: #222;
}

#secureShopping .subtitle {
    font-size: 19px;
}

#secureShopping ul {
    list-style: none;
    margin-top: 30px;
}

#secureShopping ul li {
    margin: 0;
    padding-bottom: 10px;
}

#secureShopping ul li img {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 15px;
    float: left;
}


/*--------------------------------------------------------*\
    order
\*--------------------------------------------------------*/

.order_wrapper {
    background-color: #feb9cf;
    background-image: url('../img/rounded-pointer.svg');
    background-position: 82% 0;
    background-repeat: no-repeat;
    background-size: 70px auto;
    border-radius: 3px;
    margin: 60px auto 90px auto;
    max-width: 1100px;
    width: 100%;
    box-shadow: 0px 29px 24px -25px rgba(0, 0, 0, .2);
}

#order {
    padding-top: 50px;
}

#order>.container {
    padding: 50px 0 60px 0;
    text-align: center;
}

#order .container .center {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#order iframe {
    height: 600px;
    width: 100%;
    background: white;
    border: 3px dashed #3a926c;
    padding-top: 20px;
}

#order #order_frame {
    /*
    padding: 15px;
    height: 1373737px;
    width: 100%;
    background: white;
    border: 3px dashed #3a926c;
    max-height: 300px;
    margin-bottom: 40px;*/
}

#order #countdown .container .content .text,
#order #countdown .container .content .countdown {
    color: #222;
}


/*--------------------------------------------------------*\
    footer
\*--------------------------------------------------------*/

#footer {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #4a1448;
    margin-top: -5px;
}

#footer .footer-logo {
    margin-bottom: 30px;
}

#footer .footer-logo img {
    max-width: 180px;
}

#footer .description {
    font-weight: 300;
    letter-spacing: 1px;
}

#footer a {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
}

#footer a i {
    margin-right: 5px;
}

#footer a,
#footer a i {
    height: 18px;
    line-height: 18px;
    color: #fff;
}


/*--------------------------------------------------------*\
    facebook-box
\*--------------------------------------------------------*/

.facebook-box {
    margin: 30px auto;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: 0px 0px 12px #a2a1a1e0;
    -webkit-box-shadow: 0px 0px 12px #a2a1a1e0;
    -moz-box-shadow: 0px 0px 12px #a2a1a1e0;
    -o-box-shadow: 0px 0px 12px #a2a1a1e0;
}

.facebook-box a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}

.facebook-box hr {
    line-height: 1px;
    height: 1px;
    color: rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
    border: 0;
    margin: 10px 0 0 0;
}

.facebook-box .right-icon {
    float: right;
    display: inline;
    width: 24px;
    height: 24px;
    color: #d8d8d8;
    cursor: pointer;
}

.facebook-box .content {
    padding: 12px;
    font-family: "Open Sans";
}

.facebook-box .row.header {
    max-height: 60px;
    margin-bottom: 11px;
}

.facebook-box .header .avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.facebook-box .header .name {
    width: calc(100% - 60px - 8px);
}

.facebook-box .header .name h5 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
}

.facebook-box .header .name span {
    color: #9197a3;
    font-size: 12px;
}

.facebook-box .footer {
    border-top: 1px solid #e1e2e3;
    margin: 0;
    padding: 9px 12px 7px 12px;
    font-size: 12px;
    background-color: #f6f7f8;
    border-radius: 0 0 3px 3px;
    color: #141823;
    overflow: hidden;
}

.facebook-box .footer .row {
    margin-top: 10px;
    margin-bottom: 2px;
    overflow: hidden;
}